@import "./page.scss";
@import "./font.scss";

body {
  font-family: "Humanbumsuk";
}

nav {
  a {
    padding: 3px;
    margin-inline: 2px;
    border: 1px solid black;
    text-decoration: none;
  }
}

main {
  ul {
    margin: 0;
    padding: 0;
  }
}

footer {
  display: flex;
  flex-direction: column;

  font-size: 12px;
  padding-top: 5%;
  padding-bottom: 10%;
}
