@import "./page.scss";

body {
  margin: 0;
  padding: 2%;
}

header {
  padding-block: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  padding-top: 5%;
  padding-bottom: 10%;
}
